@font-face {
    font-family: Bold;
    src: url(./fonts/EuclidCircularB-Bold-WebXL.ttf);
}
@font-face {
    font-family: Regular;
    src: url(./fonts/EuclidCircularB-Regular-WebXL.ttf);
}

*{
    box-sizing: border-box;
   padding:0;
   margin:0;
}

body{
    font-family: Regular;
    padding: 0;
    margin:0;
  
}
.nav-link{
    color:black;
}
.fullBg{
    overflow: hidden;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
 }

.dropdown-item:hover,.nav-link:hover{
    color: #146ff8;

}
.background9{
    background-color: #6a737d;
}
.background11 {
    background-color: #e9ebee;
}
.navbar{
    background-color: white;
}

/* .boxImage{
    min-width: 5rem;
    min-height: 5rem;
    max-width: 506px;
    max-height: 477px;
} */
.boxTitle{
    
    width:80%;
    font-size: 48px;
    font-family: Bold;

}
.boxText{
    font-size: 16px;
    width:84%;
    font-family: Regular;
}
.btn{
    font-size: 16px;
    border-radius:50px;
    font-family: Regular;
}
.btn-primary:hover{
background-color: #0076b4;
}

.btnDImage{
    margin-left: 2px;
   border-radius: 100%;
    border:2px solid white;
    max-block-size: 28px;
}
.boxTitle2{
    
    width:80%;
    font-size: 24px;
    font-family: Bold;
}
.dToggle{
    font-size: 2.5rem;
}
.footerLogo{
    max-width: 190px;
    max-height:45px;
}
.fTitle{
    font-family: Regular;
    text-transform: uppercase;
    color:#f6851b;
}
.Yvideo{
    height: 30rem;
}
.fItem:hover{
color: #146ff8;
}
.dark-mode{
    background-color: black;
    color:white;
}
@media screen and (max-width:988px) {
  
    .Yvideo{
        height: auto;
    }
}